 .div-login{
    background-color: #FFFEFE;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 40px;
}

 .form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    width: 600px;
    height: 400px;
    box-shadow: 0px 0px 50px black;
} 

.div-de-divs-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 80%;
}

.div-interno-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    gap :5px;
}

.h2-login{
    font-size: 40px;
    margin-bottom: 20px;
}

.label-login{
    margin: 0;
}
.input-login{
    margin: 0;
    box-shadow: 0px 0px 5px black;
    border-style: solid;
    border-radius: 10px;
    height: 25px;
    width: 100%;
    padding-left:10px;
    transition: transform 1s;
    
}
.input-login:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

.button-login{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: #ff7700;
    color:white;
    font-size: 18px;
    border: none;
    transition: transform .5s;
}

.button-login:hover{
    transition: transform 1s;
    transform: scale(1.30);
}

.click-aqui-login{
    text-decoration:underline;
    color: blue;
    cursor:pointer;
}

.div-p-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px;
}
.div-p-login p{
    margin: 0;
}
